# Kakao Developers 앱 키 > REST API 키
REACT_APP_KAKAO_REST_API_KEY=your-kakao-rest-api-key

# Kakao Developers 카카오 로그인 Redirect URI
REACT_APP_KAKAO_REDIRECT_URI=http://localhost:3000/oauth/callback/kakao

# Recor-D 백엔드 API 주소
REACT_APP_API_BASE_URL=http://localhost:8000
