@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0;
    background-color: #f5f7fb;
    color: #0f172a;
  }

  .picker-field-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .picker-field-input::-webkit-clear-button,
  .picker-field-input::-webkit-inner-spin-button {
    display: none;
  }
}
